
/* Custom default button */
.real-btn,
.real-btn:hover,
.real-btn:focus {
    color: #ffffff;
    text-shadow: none; /* Prevent inheritance from `body` */
    cursor: pointer;
}


p {
    font-size: x-large;
}
button {
    font-size: x-large;
}
.bg-transparent{
    background: rgba(0, 0, 0, 0);
}
.fw-bold {
    font-weight: bold;
}
   
.fs-large {
    font-size: xx-large;
}
.maxh {
    max-height: 200px;
}
.mw-1000 {
    max-width: 1000px;
}

.fit-page {
    width: 100%;
    height: 100%;
}