<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Matching Pennies</title>



    <!--load all styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <!-- <meta name="theme-color" content="#7952b3"> -->




</head>

<body class="d-flex h-100 text-center justify-content-center align-items-center">
        <div class="jumbotron text-center justify-content-center align-items-center mw-1000 bg-white">
            <h1>Admin Panel n°{{room_no}}</h1>
            <p>code: {{room_no}}</p>
            <p id="address">Join link: </p>
            <p id="changeMe">There is currently no player in the room!</p>
            <button onclick="start()">Start experiment!</button>   
        </div>

    <script src="/static/modules/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

    <script type="text/javascript">
        function start(){
            let t = {{timestamp}}
            $.post("../{{room_no}}/start",  { timestamp: t }, function (result) {
                if(result == "true"){
                    $(location).attr("href", window.location.origin + "/{{room_no}}/started");

                } else {
                    alert(result)
                }
            })

        }

        $(document).ready(function () {
            let address = document.getElementById("address")
            address.innerHTML = "Join link: " + window.location.origin + "/{{room_no}}"
            let changeMe = document.getElementById("changeMe")
            setInterval(() => {
                $.get("../{{room_no}}/info", function (result) {
                    let players = parseInt(result)
                    if (players == 0){
                        changeMe.innerText = "There is currently no player in the room!"
                    } else if(players == 1) {
                        changeMe.innerText = "There is currently 1 player in the room!"
                    }
                    else {
                        changeMe.innerText = "There are currently " + players + " players in the room!"

                    }
                });
            }, 1000)
        })
    </script>

</html>