<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Matching Pennies</title>



    <!--load all styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="theme-color" content="#7952b3">




</head>

<body class="d-flex h-100 text-center text-white bg-dark justify-content-center align-items-center">
        <div class="jumbotron text-center text-white bg-dark justify-content-center align-items-center mw-1000">
            <h1>Matching Pennies</h1>
            <p class="lead">Play a game of Matching Pennies against the computer.</p>
            <p class="lead">Both you and the computer choose a colour <a class="btn-danger btn-lg fw-bold">Red</a> or <a
                    class="btn-primary btn-lg fw-bold">Blue</a>, at the same time.</p>
            <p class="lead">You win if you choose <b>a different color</b> from the one chosen by the computer.</p>

            <p class="lead">
                <a href="play" class="btn btn-lg fw-bold border-white bg-white">Play!</a>
            </p>
        
            <footer class="mt-auto text-white">
                <p><i>Note that we collect anonymously your color choices and the time taken to answer the rounds.</i></p>
                <p>{{games_played}} games were already played.</p>
                <p>Contact me at <i>x@gmail.com</i> where <i>x=theomatricon</i>.</p>
            </footer>
        
        
        </div>

    <script src="/static/modules/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>