<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Matching Pennies</title>



    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="theme-color" content="#7952b3">




</head>

<body class="d-flex h-100 text-center text-white bg-dark justify-content-center align-items-center">
    <div class="jumbotron text-center text-white bg-dark justify-content-center align-items-center">
        <h1>Play Matching Pennies</h1>
        <p class="lead">Play a game of Matching Pennies against the computer.</p>
        <p class="lead">You and the computer take turns choosing either <span class="label label-primary">blue</span> or <span class="label label-danger">red</span>.</p>
        <p class="lead">You win if you choose a color different from the one chosen by the computer.</p>
        <p class="lead">Note that by clicking on play you agree that we will save your choices and the time taken to answer the rounds anonymously in order to try to make an explainable AI prediction model.</p>
        <p class="lead">
            <a href="play" class="btn btn-lg fw-bold border-white bg-white">Play {{max_rounds}} rounds</a>
        </p>

            <p>{{games_played}} games were already played.</p>
        <footer class="mt-auto text-white-50">
            <p>Contact me at <i>x@gmail.com</i> where <i>x=theomatricon</i>.</p>
        </footer>
    </div>


</body>

</html>